.imagen{
  float:right;
  width: 32px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 6s linear;
  }
}

.App-header {
  min-height: 3vh;
  display: inline-block   ;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  width:100%;
}

.App-link {
  color: #61dafb;
}

input {
  height: 14px;
  font-size: 1em;
  width: 200px;
  vertical-align: middle;
}
td{
  text-align: left;
  vertical-align: text-top;
}
#espacio{
  width: 430px;
}
#docente{
  width: 80px;
}
#codEspacio{
  width: 35px;
}

